.btn {
  background-color: lightblue;
  color: lightcoral;
  border: lightcoral solid 0.3rem;
  border-radius: 0.5rem;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 0.5rem greenyellow,0 0.7rem #222;  
  position: relative;
  top: 0;
  transition: all 300ms ease-in-out;
}

.btn:hover {
  background-color: lightcoral;
  color: lightblue; 
  top: 0.1rem;
  box-shadow: 0 0.4rem greenyellow, 0 0.6rem #222;
}
.btn:active {
  top: 0.4rem;
  box-shadow: 0 0.1rem greenyellow, 0 0.3rem #222;
}