html, body {
    margin: 0;
    background-color:  rgb(75, 75, 75);
    font-family: "Inconsolata", monospace;
    font-size: 0.93em;
    font-weight: bold;
  }

a{
    margin: 1px;
    padding: 1px;
    min-height: 20;
}

#container{ 
    height: 50vh;
}

#toolbar {
    background-color: rgb(75, 75, 75);
    height: 10%;
    width: 100% - 20px;
    min-height: 100px;
    min-width: 800px;
    margin-left: 10px;
    margin-right: 10px;
}
#toolbar > div {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    align-content: center;
    flex-wrap: wrap;
    height: 100%;
    /* width: 90%; */
}

#toolbarEditGraph > a {
    color: rgb(0, 0, 0);
    height: 20%;
    flex-grow: 1;
}

#graphCanvas {
    width: 100%;
    height: 80%;
}